body{
    font-family: Arial;
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box{
    background:white;
    padding:20px;
    width:240px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

#pass{
    font-size:20px;
    margin-bottom:15px;
    padding:10px;
    border:1px solid #ccc;
    background:#eee;
    border-radius:5px;
    display:block;
}

button{
    padding:10px 20px;
    border:none;
    background:#3498db;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#2980b9;
}
